<section class="">
    <nav class="navbar">
        <div class="brand-logo">
            <img src="/assets/TL-logo 1.png" class="logo">
        </div>
        <div class="nav-right">
            <ul class="nav-list">
                <li class="nav-item active">Place an Ad</li>
                <li class="nav-item">Buyer Inquiries</li>
                <li class="nav-item">Support</li>
                <li class="nav-item">Pricing</li>
                
                
            </ul>
            <div class="">
                <i class="fas fa-user user-icon"></i>
            </div>

        </div>
        
    </nav>
</section>

<section class="banner-section">
    <div class="banner-img">
        <div class="banner-heading">Suyog Enterprises</div>
        <div class="Verified-info">
            <label><img src="/assets/Verified-icon.png"></label>
            <label class="verified">Verified Supplier</label>
        </div>
    </div>
</section>